body {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*base*/
.theme_color_project-default {
  /*Значения фонов блоков*/
  --defalut-bg: #ffffff;
  --accent-bg: #0056b3;
  --border-bg: #000000;

  /*Значения состояний текста*/
  --default-text: #000000;
  --secondary-text: rgba(0, 0, 0, 0.6);
  --additional-text: rgba(0, 0, 0, 0.3);
  --link-text: #0070f0;
}

.theme_color_project-brand {
  /*Значения фонов блоков*/
  --defalut-bg: #0070f0;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-text: rgba(255, 255, 255, 0.3);
  --link-text: #ffffff;
}

.theme_color_project-inverse {
  /*Значения фонов блоков*/
  --defalut-bg: #000000;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-text: rgba(255, 255, 255, 0.3);
  --link-text: #0070f0;
}
.theme_color_project-warning {
  /*Значения фонов блоков*/
  --defalut-bg: #ff9900;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-text: rgba(255, 255, 255, 0.3);
  --link-text: #fff;
}
.theme_color_megafon-brand {
  /*Значения фонов блоков*/
  --defalut-bg: #1fa55d;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-text: rgba(255, 255, 255, 0.3);
  --link-text: #fff;
}

.theme_size_default {
  /* Значения размеров высоты текста */
  --size-text-s: 7px;
  --size-text-m: 8px;
  --size-text-l: 10px;
  --size-text-xl: 11px;
  --size-text-xxl: 13px;

  /* Значения межстрочных интервалов: */
  --size-lh-s: 18px;
  --size-lh-m: 21px;
  --size-lh-l: 25px;
  --size-lh-xl: 28px;
  --size-lh-xxl: 34px;
}

.theme_space_default {
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
}
.theme_gap_small {
  --gap: var(--space-xxxl);
}

.layout__container {
  margin: 0 auto;
}

.layout__container_size_s {
  max-width: 880px;
}

.layout__container_size_m {
  max-width: 1144px;
}

.layout__container_space-v_xxxxl {
  padding: var(--space-xxxxl) 0;
}

.layout__container_space-v_xxxxxl {
  padding: var(--space-xxxxxl) 0;
}
.layout__container_indent-b_xxl {
  margin-bottom: var(--space-xxl);
}

.layout__container_indent-b_xxxxl {
  margin-bottom: var(--space-xxxxl);
}
.grid {
  display: grid;
}
.grid_m-columns_12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid_m-columns_10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid_col-gap_two-thirds {
  grid-column-gap: calc(var(--gap) * 1.5);
}
.grid_col-gap_full {
  grid-column-gap: var(--gap);
}
.grid_col-gap_half {
  grid-column-gap: calc(var(--gap) / 2);
}

.grid_row-gap_half {
  grid-row-gap: calc(var(--gap) / 2);
}

.grid_row-gap_full {
  grid-row-gap: var(--gap);
}

.grid__fraction_m-col_2 {
  grid-column: span 2;
}
.grid__fraction_m-col_3 {
  grid-column: span 3;
}
.grid__fraction_m-col_4 {
  grid-column: span 4;
}
.grid__fraction_m-col_5 {
  grid-column: span 5;
}
.grid__fraction_m-col_8 {
  grid-column: span 8;
}
/*Слой паттернов*/
.card_border_all {
  border: 1px solid var(--border-bg);
}
.card_view_default {
  background: var(--defalut-bg);
}
.card_distribute_center {
  display: flex;
  justify-content: center;
}
.card_vertical-align_center {
  align-items: center;
}
.card_space-a_m {
  padding: var(--space-m);
}
.card_space-a_l {
  padding: var(--space-l);
}
.card_space-a_xl {
  padding: var(--space-xl);
}
.card_space-a_xxl {
  padding: var(--space-xxl);
}

.footer_distribute_between {
  justify-content: space-between;
}
.footer_distribute_center {
  justify-content: center;
}
.footer_distribute_right {
  justify-content: right;
}
.footer_vertical-align_center {
  align-items: center;
}
.footer_vertical-align_top {
  align-items: flex-start;
}
.footer_vertical-align_bottom {
  align-items: flex-end;
}
.footer_space-a_m {
  padding: var(--space-m);
}
.footer_space-a_l {
  padding: var(--space-l);
}
.footer_space-a_xl {
  padding: var(--space-xl);
}
.footer_space-a_xxl {
  padding: var(--space-xxl);
}

.form_border_all {
  border: 3px solid var(--border-bg);
}
.form_view_default {
  background: var(--defalut-bg);
}
.form__item_border_bottom {
  border-bottom: 3px solid var(--border-bg);
}
.form__item_border_bottom:last-child {
  border: none;
}
.form__item_distribute_between {
  justify-content: space-between;
}
.form__item_indent-b_xxxs {
  margin-bottom: var(--space-xxxs);
}
.form__item_indent-b_xxs {
  margin-bottom: var(--space-xxs);
}
.form__item_indent-b_s {
  margin-bottom: var(--space-s);
}
.form__item_indent-b_m {
  margin-bottom: var(--space-m);
}
.form__item_indent-b_l {
  margin-bottom: var(--space-l);
}
.form__item_indent-b_xl {
  margin-bottom: var(--space-xl);
}
.form__item_indent-b_xxl {
  margin-bottom: var(--space-xxl);
}
.form__item_indent-b_xxxl {
  margin-bottom: var(--space-xxxl);
}

.form__item_space-h_xxxs {
  padding-left: var(--space-xxxs);
  padding-right: var(--space-xxxs);
}
.form__item_space-h_xxs {
  padding-left: var(--space-xxs);
  padding-right: var(--space-xxs);
}
.form__item_space-h_s {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}
.form__item_space-h_m {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}
.form__item_space-h_l {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}
.form__item_space-h_xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
.form__item_space-h_xxl {
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
}
.form__item_space-h_xxxl {
  padding-left: var(--space-xxxl);
  padding-right: var(--space-xxxl);
}

.form__item_space-v_xxxs {
  padding-top: var(--space-xxxs);
  padding-bottom: var(--space-xxxs);
}
.form__item_space-v_xxs {
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
}
.form__item_space-v_s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}
.form__item_space-v_m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}
.form__item_space-v_l {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}
.form__item_space-v_xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.form__item_space-v_xxl {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}
.form__item_space-v_xxxl {
  padding-top: var(--space-xxxl);
  padding-bottom: var(--space-xxxl);
}

.form__label_width_default,
.form__control_width_default {
  width: 35%;
}
/*Смотреть BASE*/
.form__header {
}

.form__content_distribute_default,
.form__action_distribute_default {
  justify-content: flex-start;
}
.form__content_distribute_between,
.form__action_distribute_between {
  justify-content: space-between;
}
.form__content_distribute_center,
.form__action_distribute_center {
  justify-content: center;
}
.form__content_space-a_xl,
.form__action_space-a_xl {
  padding: var(--space-xl);
}
.form__content_space-a_xxl,
.form__action_space-a_xxl {
  padding: var(--space-xxl);
}

.list_border_all {
  border: 3px solid var(--border-bg);
}
.list_view_default {
  background: var(--defalut-bg);
}
.list__item_border_bottom {
  border-bottom: 3px solid var(--border-bg);
}
.list__item_border_top {
  border-top: 3px solid var(--border-bg);
}
.list__item_distribute_between {
  justify-content: space-between;
}
.list__item_vertical-align_center {
  align-items: center;
}
.list__item_indent-t_m {
  margin-top: var(--space-m);
}
.list__item_indent-b_s {
  margin-bottom: var(--space-s);
}
.list__item_indent-b_m {
  margin-bottom: var(--space-m);
}
.list__item_indent-b_l {
  margin-bottom: var(--space-l);
}
.list__item_indent-b_xl {
  margin-bottom: var(--space-xl);
}
.list__item_space-b_s {
  padding-bottom: var(--space-s);
}
.list__item_space-a_l {
  padding: var(--space-l);
}

.icon-plus_vertical-align_center {
  align-items: center;
}
.icon-plus__icon_indent-r_s {
  margin-right: var(--space-s);
}
.icon-plus__icon_indent-r_m {
  margin-right: var(--space-m);
}
.icon-plus__icon_indent-l_l {
  margin-left: var(--space-l);
}

.section_indent-b_xxl {
  margin-bottom: var(--space-xxl);
}
.section_indent-b_xxxxl {
  margin-bottom: var(--space-xxxxl);
}
.section_space-v_xxl {
  padding: var(--space-xxl) 0;
}
.section_space-v_xxxxl {
  padding: var(--space-xxxxl) 0;
}

.text_align_center {
  justify-content: center;
}
.text_size_s {
  font-size: var(--size-text-s);
  --word-width-s: 20px;
  --word-width-m: 48px;
  --word-width-l: 100px;
}
.text_size_m {
  font-size: var(--size-text-m);
  --word-width-s: 24px;
  --word-width-m: 56px;
  --word-width-l: 114px;
}
.text_size_l {
  font-size: var(--size-text-l);
  --word-width-s: 28px;
  --word-width-m: 68px;
  --word-width-l: 138px;
}
.text_size_xl {
  font-size: var(--size-text-xl);
  --word-width-s: 32px;
  --word-width-m: 74px;
  --word-width-l: 154px;
}
.text_size_xxl {
  font-size: var(--size-text-xxl);
  --word-width-s: 36px;
  --word-width-m: 88px;
  --word-width-l: 184px;
}

.text_type_h1 {
  margin: 15px 0 21px;
}
.text_type_h2 {
  margin: 48px 0 20px;
}
.text_type_h3 {
  margin: 43px 0 0;
}
.text_type_p {
  margin: 15px 0 21px;
}

.text_view_primary {
  color: var(--default-text);
}
.text_view_secondary {
  color: var(--secondary-text);
}

.text_view_ghost {
  color: var(--additional-text);
}
.text_view_link {
  color: var(--link-text);
}

.text__word_s {
  height: var(--size-text-s);
  width: var(--word-width-s);
  background-color: var(--default-text);
}
.text__word_m {
  height: var(--size-text-m);
  width: var(--word-width-m);
  background-color: var(--default-text);
}
.text__word_l {
  height: var(--size-text-l);
  width: var(--word-width-l);
  background-color: var(--default-text);
}

.avatar {
  background: var(--defalut-bg);
}
.avatar_size_m {
  width: 60px;
  height: 60px;
}

.brand-logo_name_yota {
  background: #00c0f8;
}
.brand-logo_name_megafon {
  background: #33c778;
}
.brand-logo_name_kcell {
  background: #692b96;
}
.brand-logo_name_mts {
  background: #f70000;
}
.brand-logo_size_xxs {
  width: 24px;
  height: 24px;
}
.brand-logo_size_xs {
  width: 32px;
  height: 32px;
}
.brand-logo_size_s {
  width: 40px;
  height: 40px;
}
.brand-logo_size_m {
  width: 60px;
  height: 60px;
}
.brand-logo_size_l {
  width: 80px;
  height: 80px;
}

.placeholder {
  background: var(--default-text);
}
.placeholder_size_m {
  width: 72px;
  height: 72px;
}
.button {
  flex-grow: 1;
  background: var(--accent-bg);
}

.button_size_s {
  height: 24px;
}
.button_size_m {
  height: 32px;
}
.button_size_l {
  height: 42px;
}
.button_size_xl {
  height: 56px;
}
.button_size_xxl {
  height: 64px;
}
.button_width_full {
  width: 100%;
}

.input {
  flex-grow: 1;
}
.input_size_s {
  height: 24px;
}
.input_size_m {
  height: 32px;
}
.input_size_l {
  height: 42px;
}
.input_size_xl {
  height: 56px;
}
.input_size_xxl {
  height: 64px;
}

.image {
  flex-grow: 1;
  border: 3px solid var(--border-bg);
  background: url(image.svg) center center no-repeat;
}
.image-inverse {
  flex-grow: 1;
  border: 3px solid var(--border-bg);
  background: url(image-inverse.svg) center center no-repeat;
}

/*Content*/
.payment {
  border: 3px solid var(--border-bg);
  display: flex;
  flex-direction: column;
  background: var(--defalut-bg);
  max-width: 555px;
}
.payment__button_wrapper {
  width: 200px;
}
.payment__content {
}
.payment__input {
  width: 326px;
  border: 3px solid var(--border-bg);
}
.payment__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment__item {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1144px) {
  .theme_gap_small {
    --gap: var(--space-m);
  }
}

.form_border_all {
  border: 3px solid var(--border-bg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--defalut-bg);
}
.header_space_xxxl {
  padding: var(--space-xxxl, --gap);
}
.logo {
  width: 179px;
  height: 34px;
  background: var(--default-text);
}

.onoswitch {
  display: flex;
  width: 97px;
  height: 32px;
  border: 2px solid var(--border-bg);
  display: flex;
  align-items: center;
  padding: 0 2px;
  cursor: pointer;
  justify-content: flex-end;
}
.onoswitch.active {
  justify-content: flex-start;
}
.onoswitch__slider {
  width: 24px;
  height: 24px;
  background: var(--border-bg);
}

.footer {
  /*Посмотреть  BASE*/
  max-width: 1144px;
  margin: 0 auto;
  display: flex;
  background: var(--defalut-bg);

  padding: var(--space-xxxl, --gap);
}
