body {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*base*/
.theme_color_project-default {
  /*Значения фонов блоков*/
  --defalut-bg: #ffffff;
  --accent-bg: #0056b3;
  --border-bg: #000000;

  /*Значения состояний текста*/
  --default-text: #000000;
  --secondary-text: rgba(0, 0, 0, 0.6);
  --additional-tex: rgba(0, 0, 0, 0.3);
  --link-text: #0070f0;
}

.theme_color_project-brand {
  /*Значения фонов блоков*/
  --defalut-bg: #0070f0;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-tex: rgba(255, 255, 255, 0.3);
  --link-text: #ffffff;
}

.theme_color_project-inverse {
  /*Значения фонов блоков*/
  --defalut-bg: #000000;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-tex: rgba(255, 255, 255, 0.3);
  --link-text: #0070f0;
}
.theme_color_project-warning {
  /*Значения фонов блоков*/
  --defalut-bg: #ff9900;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-tex: rgba(255, 255, 255, 0.3);
  --link-text: #fff;
}
.theme_color_megafon-brand {
  /*Значения фонов блоков*/
  --defalut-bg: #1fa55d;
  --accent-bg: #ffffff;
  --border-bg: #ffffff;

  /*Значения состояний текста*/
  --default-text: #ffffff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --additional-tex: rgba(255, 255, 255, 0.3);
  --link-text: #fff;
}

.theme_size_default {
  /* Значения размеров высоты текста */
  --size-text-s: 7px;
  --size-text-m: 8px;
  --size-text-l: 10px;
  --size-text-xl: 11px;
  --size-text-xxl: 13px;

  /* Значения межстрочных интервалов: */
  --size-lh-s: 18px;
  --size-lh-m: 21px;
  --size-lh-l: 25px;
  --size-lh-xl: 28px;
  --size-lh-xxl: 34px.;
}

.theme_space_default {
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px.;
}
.theme_gap_small {
  --gap: var(--space-xxxl);
}

@media screen and (max-width: 1144px) {
  .theme_gap_small {
    --gap: var(--space-m);
  }
}

.form_border_all {
  border: 3px solid var(--border-bg);
}

.payment {
  display: flex;
  background: var(--defalut-bg);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--defalut-bg);
}
.header_space_xxxl {
  padding: var(--space-xxxl, --gap);
}
.logo {
  width: 179px;
  height: 34px;
  background: var(--default-text);
}

.onoswitch {
  display: flex;
  width: 97px;
  height: 32px;
  border: 2px solid var(--border-bg);
  display: flex;
  align-items: center;
  padding: 0 2px;
  cursor: pointer;
  justify-content: flex-end;
}
.onoswitch.active {
  justify-content: flex-start;
}
.onoswitch__slider {
  width: 24px;
  height: 24px;
  background: var(--border-bg);
}

.footer {
  max-width: 1144px;
  margin: 0 auto;
  padding: var(--space-xxxl, --gap);
}
